<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <services>
      <service
        name="BundledAsyncSite.Host.Bus.EventHandlingService" behaviorConfiguration="ReleaseBehavior" 
        xdt:Transform="RemoveAttribute(behaviorConfigauration)" xdt:Locator="name">        
      </service>
    </services>
  </system.serviceModel>
</configuration>
