<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\maildrop\" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/EventHandlingService" binding="netMsmqBinding" bindingConfiguration="TransactionalMsmqBindingClient" contract="EventHandlingServiceProxy.EventHandlingService" name="TransactionalMsmqBindingClient" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="1" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <netMsmqBinding>
        <binding name="TransactionalMsmqBindingServer" deadLetterQueue="System" exactlyOnce="true" maxRetryCycles="1" receiveErrorHandling="Move" receiveRetryCount="0" retryCycleDelay="00:05:00" queueTransferProtocol="Native" useActiveDirectory="false">
          <security mode="None">
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
          </security>
        </binding>
        <binding name="TransactionalMsmqBindingClient" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="BundledAsyncSite.Host.Bus.EventHandlingService" behaviorConfiguration="CustomBehavior">
        <endpoint contract="BundledAsyncSite.Host.Bus.EventHandlingService" bindingConfiguration="TransactionalMsmqBindingServer" binding="netMsmqBinding" address="net.msmq://localhost/private/EventHandlingService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
